<div class="col-left">
    <div class="text">
    <h2>Vad är Dahlland?</h2>
    <div class="line"></div>
    <p>Dahlland är en byggserver för och av en hop överexalterade gymnasieelever. Sedan den grundades har den gått igenom flera versioner, ägare och byggare.</p>
    <br>
    <h2>Dahllands Historia</h2>
    <div class="line"></div>
    <br>
    <h3>Dahlland 1 (Treedahl)</h3>
    <div class="line"></div>
    <p>Treedahl var en server som startades ca 2012 som höll i ungefär 9 månader innan Jacob’s dator gav upp och dödade sig själv. Servern hade ca 5 aktiva medlemmar på sin höjd. Efter detta försvann världen för gott och Treedahl 1.5 startades</p>
    <br>
    <h3>Treedahl 1,5</h3>
    <div class="line"></div>
    <p>En mindre server som höll i kanske 2 veckor. Dog ut lika snabbt som den kom.</p>
    <br>
    <h3>Dahlland 2</h3>
    <div class="line"></div>
    <p>Serverns andra generation finner sina rötter i Datorklubben på Södertörns Friskola, där den dessutom för första gången hostades på heltid, och inte på Jacob’s HP inköpt för 5000 på MediaMarkt ca 2011, utan av ingen annan än Mikael Tylmad under en lång tidsperiod. Som mest hade denna server 13(!) aktiva spelare. Här fanns även rekordet på den någonsin längsta byggda järnvägen i en Dahlland server, på 11000 block från Huvudstaden Dahlland City till bergen Kallak.</p>
    
    <h4>Städer:</h4>
    <ul>
        <li>Dahlland City</li>
        <li>Sigma Pi</li>
        <li>Melvonsborg</li>
        <li>Josefs ö</li>
        <li>Sandstaden</li>
    </ul>
    <br>
    <h3>Dahlland 3</h3>
    <div class="line"></div>
    <p>Höjden av aktivitet! 5 aktiva spelare ungefär delade på flera städer. Här byggdes den största och mest välutvecklade servern ända tills Dahlland 5. Servern startades efter att världsgenereringen ändrades i en uppdatering och Dahlland 2 såg förjävlig ut från Dynmap.</p>

    <h4>Städer:</h4>
    <ul>
        <li>Kallak / Dahlland City</li>
        <li>Någon ö som jag inte minns namnet på</li>
        <li>Gustavs stad</li>
    </ul>
    <br>
    <h3>Dahlland 4</h3>
    <div class="line"></div>
    <p>Fanns knappast. 2 spelare spelade någonsin på denna server. Dog ut efter några månader.</p>
    <br>
    <h3>Dahlland 5.0</h3>
    <div class="line"></div>
    <p>Detta är var vi är idag. Server 5.0 utropades i hösten 2018 och har sedan dess haft en stark spelarbas på ca 3-5 spelare. Dahlland 5.0 går på Spigot och har DynMap tillgängligt, samt är den åtkomlig via den alldeles exklusiva domänen <b>minecraft.dahlland.se</b>. Denna server hostas av Nils, det vill säga för första gången någon annan än Jacob eller Micke.</p>

    <h4>Regioner:</h4>
    <ul>
        <li>DMR</li>
        <li>DMR(r)</li>
        <li>SFFT</li>
        <li>Kapitalia</li>
    </ul>
    <h4>Dahlland 5.1</h4>
    <p>Den 4 okt 2020 stängdes servern ner temporärt för underhåll (serverdatorn körde Windows Server 2008 och startade om sig själv minst en gång i veckan). Den 4 feb 2021 öppnades servern igen, nu med det stabilare operativsystemet Ubuntu Server 20.04.2 och under beteckningen Dahlland 5.1.</p>
    <br>
    <h2>Nördiga saker</h2>
    <div class="line"></div>
    <h3>Hårdvara</h3>
    <div class="line"></div>
    <p>Både servern och dess hemsida körs på en äldre HP ProLiant ML110 G7 som troget tuffar på med majoriteten av de ynka 8GB RAM den har ockuperat.</p>
    <br>
    <h3>Mjukvara</h3>
    <div class="line"></div>
    <p>Servern går på Spigot och har pluginsen Essentials, Group Manager och DynMap. Hemsidan körs på en NodeJS-webbserver i ramverket ExpressJS. Frontenden använder det händiga SCSS.</p>
    </div>
</div>

<div class="col-right">
    <div class="image">
        <img src="img/IMG_20210204_220001.jpg" title="Aberon">
        <p>"Aberon"</p>
    </div>
    <div class="status">
        <img class="server-icon" src="img/server-icon.png">
        <div class="status-info-wrapper">
            <p>minecraft.dahlland.se</p>
            <div class="server-status">
                <div class="status-indicator"></div>
                <span class="server-online"></span>!
                <br>
                <p><span class="playersnow" id="playersnow">X</span>/<span class="playersmax">Y</span> players</p>
            </div>
            <br>
            <p>Updated <span class="lastupdated"></span> mins ago &bull; <a href="https://mcapi.us/">mcapi.us</a></p>
        </div>
    </div>
</div>
