<div class="player" style="height: 119px;">
    <img width="100px" src="img/playericons/pask1.png">
    <div class="playertext">
        <p>
            <b>Alias: </b>pask1<br>
            <b>Name: </b>Nils Korsfeldt<br>
            En person som existerar.<br>
            <br>
            <h4>Titlar:</h4>
            <ul>
                <li>Ägare</li>
            </ul>
        </p>
    </div>
</div>
<div class="player" style="height: 176px;"> 
    <img width="100px" src="img/playericons/asterheikki.png">
    <div class="playertext">
        <p>
            <b>Alias: </b>Asterheikki<br>
            <b>Name: </b>Hannes Arhammar Pakarinen<br>
            Hannes är ordförande för folkkommissariernas råd i Socialistiska Federativa Folkrepubliken Trudovik. Hans regionskontroll innefattar Östra Skärgårdshalvön, Norra Skärgården, Området runt Trudoviken och öarna S:t Johannes, Krutö och Pakarinenö. Asterheikki är även ansvarig för Dahllands Arkitekturella Arkiv, vilket strävar efter att dokumentera Dahllands vackra under till städer.<br>
            <br>
            <h4>Titlar:</h4>
            <ul>
                <li>Ordförande för Folkkommissariernas Råd i Socialistiska Federativa Folkrepubliken Trudovik</li>
                <li>Huvudarkivarie för Dahllands Arkitekturella Arkiv</li>
            </ul>
        </p>
    </div>
</div>
<div class="player" style="height: 176px;">
    <img width="100px" src="img/playericons/jachz.png">
    <div class="playertext">
        <p>
            <b>Alias: </b>JachZ<br>
            <b>Name: </b>Jacob Nilsson<br>
            Nacob är President för utbrytarrepubliken DMR(r) som innefattar Världens största stad; Laestadiania. Bygger just nu på Kilö, Laserkil, Laestadiania.<br>
            <br>
            <h4>Titlar:</h4>
            <ul>
                <li>President DMR(r)</li>
                <li>Partiordförande SP(e)</li>
                <li>Folkpresident Dahllands Marxistiska Republik - (Fria territorierna) (revolutionärerna)</li>
            </ul>
        </p>
    </div>
</div>
<div class="player" style="height: 157px;">
    <img width="100px" src="img/playericons/riksschlomot.png">
    <div class="playertext">
        <p>
            <b>Alias: </b>Riksschlomot<br>
            <b>Name: </b>Daniel Stridh<br>
            Daniel är president i den Demokratiskt Fria Republiken Kapitalia (DFRK). Landområdet är hela ön mellan Riksdagsön och DMR(r). Kapitalia är som en gränsstat.<br>
            <br>
            <h4>Titlar:</h4>
            <ul>
                <li>President i Kapitalia</li>
                <li>Ägare av Kunglig Kapital-Kebab (KKK)</li>
            </ul>
        </p>
    </div>
</div>
<br>
<h2>Flera spelare tillkommer!</h2>

<!-- Player template:

<div class="player">
    <img width="100px" src="img/playericons/">
    <div class="playertext">
        <p>
            <b>Alias: </b><br>
            <b>Name: </b><br>
            <br>
            <br>
            <b>Titlar:</b>
            <ul>
                <li></li>
            </ul>
        </p>
    </div>
</div>

-->